---
import { getCollection, render } from "astro:content";

import { Card } from "@/components/Card.tsx";
import IconLink from "@/components/IconLink.astro";
import Link from "@/components/Navlink.astro";
import { getSortedByDate } from "@/helpers/posts.ts";
import Layout from "@/layouts/Base.astro";
import { SITE } from "config";

const essayCollection = await getCollection("essays");

const essays = await Promise.all(
  essayCollection.map(async (essay) => {
    const { remarkPluginFrontmatter } = await render(essay);

    return {
      id: essay.id,
      readTime: remarkPluginFrontmatter.minutesRead,
      type: "essay" as const,
      ...essay.data,
    };
  }),
);

const sortedEssays = getSortedByDate(essays);
---

<Layout title={SITE.title}>
  <div
    class="sticky col-span-full mb-8 flex flex-col gap-4 lg:top-(--nav-height) lg:col-start-1 lg:col-end-2 lg:mb-0 lg:h-[calc(100vh-242px)]"
  >
    <p class="text-sand-11">Hello, I'm Michał.</p>
    <p class="text-sand-11">
      Product Engineer blending ideas at the intersection of code, AI, and
      cognition.
    </p>
    <p class="text-sand-11">Currently building at a FAANG company.</p>

    <div class="mt-16 hidden flex-col gap-4 lg:flex">
      <Link to="essays" label="Essays" className="active" />
      <Link to="about" label="About" />
    </div>
    <div class="mt-auto hidden gap-4 lg:flex">
      <IconLink to={SITE.social.github} icon="github" />
      <IconLink to={SITE.social.linkedin} icon="linkedin" />
      <IconLink to={SITE.social.bluesky} icon="bluesky" />
    </div>
  </div>
  <div
    class="col-span-full flex flex-col gap-20 lg:col-start-2 lg:col-end-3 mr-[2px]"
  >
    <section id="essays" class="mt-[-116px] flex flex-col gap-12 pt-[116px]">
      <h2 class="text-sand-12 font-medium">Essays</h2>
      <div class="group flex flex-col gap-16 md:gap-8">
        {
          sortedEssays.map((post) => {
            return (
              <Card
                id={post.id}
                variant="essay"
                date={post.date}
                topics={post.topics}
                title={post.title}
                date={post.date}
                readTime={post.readTime}
                description={post.description}
              />
            );
          })
        }
      </div>
    </section>

    <section id="about" class="flex flex-col gap-12">
      <h2 class="text-sand-12 font-medium">About</h2>
      <div class="flex flex-col gap-4">
        <p class="text-sand-11">
          With over 10 years of experience in product development. I have worked
          on both front-end and back-end, starting in a small software house and
          advancing to FAANG companies.
        </p>
        <p class="text-sand-11">
          I am deeply engaged in tools and methods for cognitive
          enhancement—such as Personal Knowledge Management (PKM), Zettelkasten,
          Obsidian, Anki, and AI to improve learning, boost productivity, and
          manage information overload in our rapidly changing world.
        </p>
        <p class="text-sand-11">
          If you have any questions, feel free to reach out to me on social
          media.
        </p>
      </div>
    </section>
  </div>
</Layout>

<script>
  let observerEnabled = true;

  document.addEventListener("DOMContentLoaded", () => {
    const links = Array.from(document.querySelectorAll("li.link"));
    const sections = Array.from(document.querySelectorAll("section"));

    registerScrollIntoSections(links);
    registerObserver(links, sections);
  });

  function registerScrollIntoSections(links: Element[]) {
    links.forEach((link) => {
      link.addEventListener("click", () => {
        links.forEach((l) => l.classList.remove("active"));
        link.classList.add("active");

        const sectionId = link.getAttribute("data-scroll-section");
        const section = document.getElementById(sectionId ?? "");

        if (section) {
          observerEnabled = false;
          section.scrollIntoView({ behavior: "smooth" });
          setTimeout(() => {
            observerEnabled = true;
          }, 500);
        }
      });
    });
  }

  function registerObserver(links: Element[], sections: Element[] | null) {
    if (!sections?.length) return;

    const observerOptions = {
      root: null,
      rootMargin: "0px",
      threshold: 0.5,
    };

    const observer = new IntersectionObserver((entries) => {
      if (!observerEnabled) return;

      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          const activeLink = links.find(
            (link) =>
              link.getAttribute("data-scroll-section") === entry.target.id,
          );

          links.forEach((link) => link.classList.remove("active"));
          activeLink?.classList.add("active");
        }
      });
    }, observerOptions);

    sections.forEach((section) => {
      observer.observe(section);
    });
  }
</script>
